body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
#wrapper {
    position: relative;
    display: flex;
    width: 100%;
}

/* Aside in non-scroll mode */
aside {
    width: 50%;
    float: left;
    position: sticky;
    top: 0;
    padding: 10px;
    max-height: 80vh;
    border: 1px solid #ddd;
}


main {
    width: 50%;
    float: right;
    padding: 10px;
}
