body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
#wrapper {
    position: relative;
    display: flex;
    width: 100%;
}

/* Aside in non-scroll mode */
aside {
    width: 50%;
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    padding: 10px;
    max-height: 80vh;
    border: 1px solid #ddd;
    box-sizing: border-box;
    height: 100vh; /* Ensure it takes the full viewport height */
    overflow-y: auto; /* Allow scrolling within the aside if needed */
}

aside::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}


main {
    width: 50%;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}
